<h1>Edit User</h1>
 
<%= form_with(model: @user, url: admins_edit_user_path, local: true) do |form| %>
  <h2>User ID : <%= @user.id %></h2>

  <p>
    <%= form.label :"User ID" %><br>
    <%= form.text_field :id %>
  </p>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :"Email" %><br>
    <%= form.text_field :email %>
  </p>
 
  <p>
    <%= form.label :"Phone number" %><br>
    <%= form.text_field :phone_no %>
  </p>

  <p>
    <%= form.label :"Profile Type" %><br>
    <%= form.select :user_type, User.user_types.keys %>
  </p>
 
  <p>
    <%= form.label :Password %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <% if @user.is_grandparent %>
        Cannot add parent. It is grandparent.
    <% else %>
        <%= form.label :"Parent ID"%><br>
        <%= form.text_field :parent_id%><br><br><br>
    <% end %>
  </p>

  <p>
    <%= form.submit %>
  </p>
 
<% end %>